# Version Control
.git
.gitignore

# Dependencies & Environments
node_modules
venv
.venv
__pycache__
*.pyc
.env

# Database & Large Files
chroma_store
Backend/chroma_store
*.sqlite3
*.bin
*.db
*.pdf
vector_db
img